
.inspiration {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: 10px;
}
.inspirationHeader {
  color: #003580;
  font-weight: bold;
  width: 1024px;
}

.inspirationItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex: 1;
}
.inspirationImg {
  width: 360px;
  height: 250px;
  object-fit: cover;
}

.inspirationTitle {
  color: rgb(248, 245, 245);
  margin-top: -100px;
  text-align: center;
}
.inspirationTitle h6{
  color: rgb(248, 245, 245);
  font-weight: bold;

}