.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.555);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserve-container {
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}
.reserveClose {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.reserveItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.reserveItemInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.resTitle {
  font-weight: 500;
}

.resDesc {
  font-weight: 300;
}

.resmaxPeople {
  font-size: 12px;
}

.resPrice {
  font-weight: 500;
}
.resSelectRoom {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 10px;
  color: rgb(107, 106, 106);
}
.room {
  display: flex;
  flex-direction: column;
}

.resButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width:100%;
  margin-top: 20px;
 
}
