.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerList {
  display: flex;
  gap: 40px;
}
.headerListItem{
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerListItem.active{
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
}