.properties-header {
  font-size: 30px;
  font-weight: bold;
  color: #003580;
}

.propertiesItem card {
  width: auto;
  display: flex;
  height: auto;
}
.propertiesImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.propertiesItem h5 {
  text-transform: capitalize;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
}
.propertiesItem p {
  text-transform: capitalize;
  text-align: left;
  font-weight: 500;
}
