.properties {
  width: 100%;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
}
.properties-header {
  font-size: 30px;
  font-weight: bold;
  color: #003580;
  
}
.propertiesItem {
  height: 300px;
  width:320px;
  border: 1px solid rgba(128, 128, 128, 0.411);
  border-radius: 10px;
  gap: 20px;

}
.propertiesItem img {
  height: 180px;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 10px;
}
