.footerList ul li {
  list-style: none;
  text-align:left;
  width:100%;
  margin-right: 15px;
}
.footerList {
  color:#00224F;
  cursor: pointer;
  font-size: 15px;
}
.footerList li:hover {
  color: darkorange;
}
.footerText{
  margin-top: 10px;
  padding: 5px;
  color: rgb(80, 79, 79);
  text-align: center;
  line-height: normal;
}