.mail {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  background-color: #00224f;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.mailTitle {
  margin-top: 40px;
}
.mailDesc {
  color: lightgray;
}
.mailInputContainer {
  margin-top: 10px;
}
.mailInputContainer > input {
  width: 400px;
  height: 45px;
  text-align: left;
  padding: 8px;
}
.mailInputContainer > button {
  border: none;
  background-color: #0671fd;
  color: white;
  padding: 10px;
  margin-left: 5px;
  width: 130px;
  border-radius: 5px;
  font-size: 15px;
}
